.imageUploader {
  margin: 20px 0;  
  
  .uploadIcon {
    height: 30px;
    margin: auto;
    display: block;
    opacity: 0.5;
    
    transition: opacity 100ms ease-out;
    
    &:hover {
      opacity: 1;
    }
  }
}

:global(.dropzone) {
  border-radius: 4px;
  border: 1px dashed #ccc;
  
  :global(.dz-message) {
    font-size: .75em;
  }
}