<div style="font-family: Georgia, Arial, sans-serif; font-size: 14px;">
  <p>
    Greetings,
  </p>
  <p>
    You (or someone else) entered this email address when trying to change the password of an Cromford account.
  </p>
  <p>
    However, this email address is not on our database of registered users and therefore the attempted password change has failed.
  </p>
  <p>
    If you are a Cromford customer and were expecting this email, please try again using the email address you gave when opening your account.
  </p>
  <p>
    If you are not a Cromford customer, please ignore this email.
  </p>
  <p>
    For information about Cromford, please visit www.cromford.com.
  </p>
  <div style="font-weight: 600">
    <p>
      Kind regards,
    </p>
    <p>
      Cromford Customer Support
    </p>
  </div>
</div>