._app_js_components_ShoppingCartApp__shoppingCart {
  margin: 8px 6px 0 0;
}._app_js_lib_LoadSpinner__loaderText {
  margin-top: 20px;
  text-align: center;
  
  font-size: 16px;
  font-weight: 600;
}

._app_js_lib_LoadSpinner__loader {
  margin: auto;
  
  animation: _app_js_lib_LoadSpinner__rotate 1s infinite;
  height: 50px;
  width: 50px;
}

._app_js_lib_LoadSpinner__loader:before,
._app_js_lib_LoadSpinner__loader:after {
  border-radius: 50%;
  content: '';
  display: block;
  height: 20px;
  width: 20px;
}

._app_js_lib_LoadSpinner__loader:before {
  animation: _app_js_lib_LoadSpinner__ball1 1s infinite;
  background-color: #cb2025;
  box-shadow: 30px 0 0 #f8b334;
  margin-bottom: 10px;
}

._app_js_lib_LoadSpinner__loader:after {
  animation: _app_js_lib_LoadSpinner__ball2 1s infinite;
  background-color: #00a096;
  box-shadow: 30px 0 0 #97bf0d;
}

@keyframes _app_js_lib_LoadSpinner__rotate {
  0% {
    -webkit-transform: rotate(0deg) scale(0.8);
    -moz-transform: rotate(0deg) scale(0.8);
  }
  50% {
    -webkit-transform: rotate(360deg) scale(1.2);
    -moz-transform: rotate(360deg) scale(1.2);
  }
  100% {
    -webkit-transform: rotate(720deg) scale(0.8);
    -moz-transform: rotate(720deg) scale(0.8);
  }
}

@keyframes _app_js_lib_LoadSpinner__ball1 {
  0% {
    box-shadow: 30px 0 0 #f8b334;
  }
  50% {
    box-shadow: 0 0 0 #f8b334;
    margin-bottom: 0;
    -webkit-transform: translate(15px, 15px);
    -moz-transform: translate(15px, 15px);
  }
  100% {
    box-shadow: 30px 0 0 #f8b334;
    margin-bottom: 10px;
  }
}

@keyframes _app_js_lib_LoadSpinner__ball2 {
  0% {
    box-shadow: 30px 0 0 #97bf0d;
  }
  50% {
    box-shadow: 0 0 0 #97bf0d;
    margin-top: -20px;
    -webkit-transform: translate(15px, 15px);
    -moz-transform: translate(15px, 15px);
  }
  100% {
    box-shadow: 30px 0 0 #97bf0d;
    margin-top: 0;
  }
}._app_js_lib_BaseItem__baseItem {
  position: relative;
  height: 250px;
  width: 250px;
  
  margin-bottom: 30px;
  overflow: hidden;

  background-color: #fff;  
  transition-property: background-color, opacity;
  transition-duration: .1s, .35s;
  
  border: solid 1px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  
  cursor: pointer;
}

._app_js_lib_BaseItem__baseItem:hover {
  background-color: #eee;
}

._app_js_lib_BaseItem__baseBanner {
  position: absolute;
  background-color: rgba(8, 8, 8, 0.3);
  
  height: 80px;
  left: 0;
  width: 100%;
  
  transition-property: bottom;
  transition-duration: .3s;
}

._app_js_lib_BaseItem__itemName {
  text-align: center;
  
  font-family: "Courgette", cursive;
  font-size: 30px;
  font-weight: 600;
}

._app_js_lib_BaseItem__itemPrice {
  position: absolute;
  bottom: 10px;
  right: 10px;  
}

._app_js_lib_BaseItem__cartIcon {
  position: absolute;
  bottom: 6px;
  left: 10px;
}

._app_js_lib_BaseItem__loader {
  position: absolute;
  top: calc(50% - 32px);
  left: calc(50% - 32px);
  width: 64px;
  height: 64px;
  border-radius: 50%;
  perspective: 800px;
  
  transition-property: opacity;
  transition-duration: .3s;
}

._app_js_lib_BaseItem__inner {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border-radius: 50%;    
}

._app_js_lib_BaseItem__inner._app_js_lib_BaseItem__one {
  left: 0%;
  top: 0%;
  animation: _app_js_lib_BaseItem__rotate-one 1s linear infinite;
  border-bottom: 3px solid #286090;
}

._app_js_lib_BaseItem__inner._app_js_lib_BaseItem__two {
  right: 0%;
  top: 0%;
  animation: _app_js_lib_BaseItem__rotate-two 1s linear infinite;
  border-right: 3px solid #3C763D;
}

._app_js_lib_BaseItem__inner._app_js_lib_BaseItem__three {
  right: 0%;
  bottom: 0%;
  animation: _app_js_lib_BaseItem__rotate-three 1s linear infinite;
  border-top: 3px solid #A94442;
}

@keyframes _app_js_lib_BaseItem__rotate-one {
  0% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}

@keyframes _app_js_lib_BaseItem__rotate-two {
  0% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}

@keyframes _app_js_lib_BaseItem__rotate-three {
  0% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}._app_js_lib_GhostButton__ghostButton {
  font-weight: 700;
  
  background-color: rgba(255, 255, 255, 0.1);
  transition-property: background-color;
  transition-duration: .3s;
  
  border-width: 2px;
}

._app_js_lib_GhostButton__ghostButton:hover {
  background-color: rgba(255, 255, 255, 0.2);
}._app_js_lib_SocialButton_FacebookButton__facebookButton {
  background: -webkit-gradient(linear, left top, left bottom, from(#2953ad), to(#234ca2));
  background: -webkit-linear-gradient(#2953ad, #234ca2);
  background: linear-gradient(#2953ad, #234ca2);

  border: 3px solid rgba(9,39,101,0.5);
  border-radius: 6px;
  -webkit-box-shadow: 0 1px 6px rgba(0,0,0,0.32);
  box-shadow: 0 1px 6px rgba(0,0,0,0.32);
}

._app_js_lib_SocialButton_FacebookButton__facebookButton:hover {
}