html,
body {
  margin: 0;
  padding: 0; }

body {
  font: 14px "Source Sans Pro", sans-serif, Helvetica Neue;
  background: #eaeaea url("/images/base.png");
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased; }

a {
  cursor: pointer; }

*:focus {
  outline: 0 !important; }

.help-block {
  color: red !important; }

#userArea {
  margin: 8px 6px 0 0; }

#mainContent {
  margin-top: 70px; }
