html,
body {
  margin: 0;
  padding: 0; }

body {
  font: 14px "Source Sans Pro", sans-serif, Helvetica Neue;
  background: #eaeaea url("/images/base.png");
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased; }

a {
  cursor: pointer; }

*:focus {
  outline: 0 !important; }

.help-block {
  color: red !important; }

#userArea {
  margin: 8px 6px 0 0; }

.item-enter {
  opacity: 0.01; }

.item-enter.item-enter-active {
  opacity: 1;
  transition: all 300ms ease-in; }

.item-leave {
  opacity: 1; }

.item-leave.item-leave-active {
  opacity: 0.01;
  transition: all 300ms ease-in; }

.filter-enter {
  opacity: 0.01;
  transform: scale(0.2); }

.filter-enter.filter-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: all 300ms ease-out; }

.filter-leave {
  opacity: 1;
  transform: scale(1); }

.filter-leave.filter-leave-active {
  opacity: 0.01;
  transform: scale(0.2);
  transition: all 300ms ease-out; }

.route-enter {
  transform: translateX(100%);
  -ms-transform: translateX(100%);
  -webkit-transform: translateX(100%); }

.route-enter.route-enter-active {
  transform: translateX(0%);
  -ms-transform: translateX(0%);
  -webkit-transform: translateX(0%);
  transition: all 300ms linear; }

.route-leave {
  transform: translateX(0%);
  -ms-transform: translateX(0%);
  -webkit-transform: translateX(0%); }

.route-leave.route-leave-active {
  transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  transition: all 300ms linear; }

.mainColor {
  color: white;
  background-color: #3B2F25; }

.mainColorReverse {
  color: #3B2F25;
  background-color: white; }

#mainContent {
  margin-top: 70px; }
