.dimensionRangeInput {

  .firstRow {
    display: flex;
    flex-direction: row;
    
    .baseInput {
      flex: 1;
    }
    
    .checkbox {
      width: 110px;
      margin-left: 10px;
      padding-top: 6px;
    }
  }
  
  .sliderGroup {
    margin-bottom: 40px;
  }
}


