.dimensionRangeInput {
  margin-bottom: 30px;
  
  .customizableCheckbox {
    top: 6px;
  }
  
  .sliderGroup {
    margin-top: -15px;
    
    .rangeSlider {
      top: 9px;
      left: -16px;
    }  
    
  }

}


