.summary-section {
  margin: -10px -30px 10px -30px;
  padding: 10px;

  border-bottom: solid 1px #ccc;
  border-radius: 10px;
  background-color: #e5e5e5;

  .section-header {
    margin-bottom: 10px;
    color: #959595;

    text-transform: uppercase;
    font-weight: 700;
  }

  .summary-item {
    margin-bottom: 5px;

    .label-style {
      font-style: italic;
    }
  }

  .total-price {
    margin-top: 10px;

    font-weight: 600;
  }

  .price-style {
    float: right;
  }
}