html,
body {
  margin: 0;
  padding: 0;
}

body {
  background: #eaeaea url("/images/base.png");

  font: 14px "Source Sans Pro", Helvetica Neue, sans-serif;
  font-smoothing: antialiased;
  color: #333;
}

a {
  cursor: pointer;
}

:global(.btn) {
  
  border: 1px solid;

  &:focus, &:active {
    outline: none !important;
    
    border: 1px solid;
  }
}
