html,
body {
  margin: 0;
  padding: 0;
}

body {
  font: 14px $app-font;
  background: #eaeaea url("/images/base.png");
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
}
