.itemFilterApp {
  
  .filterSection {
    overflow: hidden;
    max-height: 0px;
    
    border: 0.5px solid #ccc;
    border-left-width: 0px;
    border-right-width: 0px;
    background-color: rgba(238, 238, 238, 0.5);
    
    transition: max-height 300ms linear;
  }
  
  
  .collapsedToggle {
    cursor: pointer;
  }
}
