.loadItemSpinner {
  
  .spinner {
    position: relative;
    margin: auto;

    width: 64px;
    height: 64px;
    border-radius: 50%;
    perspective: 800px;
    
    .inner {
      position: absolute;
      box-sizing: border-box;
      width: 100%;
      height: 100%;
      border-radius: 50%;  
    }

    .inner.one {
      left: 0%;
      top: 0%;
      animation: rotateOne 1s linear infinite;
      border-bottom: 3px solid #3B2F25;
    }

    .inner.two {
      right: 0%;
      top: 0%;
      animation: rotateTwo 1s linear infinite;
      border-right: 3px solid #3B2F25;
    }

    .inner.three {
      right: 0%;
      bottom: 0%;
      animation: rotateThree 1s linear infinite;
      border-top: 3px solid #3B2F25;
    }
  }

  .loaderText {
    margin-top: 20px;
    text-align: center;
    
    font-size: 16px;
    font-weight: 600;
  }
}



@keyframes rotateOne {
  0% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}

@keyframes rotateTwo {
  0% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}

@keyframes rotateThree {
  0% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}