.accountApp {
  position: absolute;
  
  width: 100%;
  height: 100%;
  
  display: flex;
  flex-direction: row;
  
  .navMenu {
    padding-top: 15px;
  }
  
  .mainContent {
    flex: 1;
    position: relative;
    
    margin-left: 200px;
    
    .loginMessage {
      margin: 15px;
      
      .loginLink {
        font-weight: bold;
      }
    }
  }
}