.authApp {
  
  :global(.modal-body) {
    height: 350px;
  }
  
  .localContent {
    position: absolute;
    padding-top: 30px;
    
    height: 100%;
    width: 52%;
    
    overflow: hidden;
  }
  
  .socialContent {
    position: absolute;
    padding: 15px 0;

    right: 0;

    height: 100%;
    width: 40%;
    
    text-align: center;
  }

  .divider {
    position: absolute;
    width: 1px;
    left: 58%;
    height: 290px;
    background-color: #e5e5e5;
    
    .dividerContent {
      position: absolute;
      top: 48%;
      left: -7px;    

      background-color: white;
      
      line-height: 21px;
    }
  }
}

