.checkoutApp {
  position: absolute;
  width: 100%;
  height: 100%;
  
  background-color: black;
  background-image: url("/images/checkout_bg.png");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  
  .checkoutForm {
    position: relative;
    float: right;
    padding: 10px 30px;
    margin: 30px;    

    width: 40%;

    background-color: #eee;
    border: solid 1px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    
    .information {
      margin-top: 5px;

      text-align: center;
      color: #777;
      font-size: .75em;
    }
  }

  .summarySection {
    margin: -10px -30px 10px -30px;
    padding: 10px;
    
    border-bottom: solid 1px #ccc;
    border-radius: 10px;
    background-color: #e5e5e5;
    
    .sectionHeader {
      margin-bottom: 10px;
      color: #959595;
      
      text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: 700;
    }
    
    .summaryItem {
      margin-bottom: 5px;
      
      .labelStyle {
        font-style: italic;
      }      
    }
    
    .totalPrice {
      margin-top: 10px;
      
      font-weight: 600;
    }
    
    .priceStyle {
      float: right;
    }
  }
  
}


