.forgotPasswordApp {
  padding: 20px;
  
  width: 100%;
  
  .formContent {
    
    position: relative;
    z-index: 1041;
    
    background: white;
    padding: 20px;
    border-radius: 4px;
    
    .successMessage {
      max-height: 0px;
      opacity: 0;
      margin-bottom: 0px;
      
      transition: all 150ms linear;
      overflow: hidden;
    }
    
    .formTitle {
      margin-bottom: 20px;
      font-size: 20px;
    }
  }
}