.itemDisplayApp {
  position: absolute;
  
  width: 100%;
  
  .itemDisplaySection {
    position: absolute;
    width: 100%;
    top: 40px;
    
    transition: top 150ms ease-out;
    
    display: flex;
    flex-direction: column;
  }

}
