.resetPasswordApp {
  position: absolute;
  left: 0;
  padding: 20px;
  
  width: 100%;
  
  .mask {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 1040;
    background-color: #000;
    opacity: 0.5;
  }
  
  .formContent {
    
    position: relative;
    z-index: 1041;
    
    background: white;
    padding: 20px;
    border-radius: 4px;
    
    .successMessage {
      max-height: 0px;
      opacity: 0;
      margin-bottom: 0px;
      
      transition: all 150ms linear;
      overflow: hidden;
    }
    
    .formTitle {
      margin-bottom: 20px;
      font-size: 20px;
    }
  }
}