<!DOCTYPE html>
<html>
  <head>
    <title>Cramford</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/bundle.css">
    <link rel="stylesheet" href="stylesheets/main.css">
    <link ref="stylesheet" href="https://fonts.googleapis.com/css?family=Courgette|Source+Sans+Pro">
  </head>
  <body>
    <div id="fb-root"></div>
    <script>
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.6&appId=759631904072296";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>
    <script src="https://js.stripe.com/v2/"></script>
    <script src="js/bundle.js"></script>
  </body>
</html>